.footer {
  width: 100%;
  background: #333;
  color: white;
  font-size: 24px;
  font-weight: 600;
  padding: 25px 0px;
}

.footer .copy {
  display: inline-block;
  padding: 0px 20px;
}

.footer .social {
  float: right;
  padding: 0px 20px;
}

.footer .social a {
  color: white;
  padding: 0px 20px;
  transition: 0.3s;
}

.footer .social a:hover {
  color: #278cff;
}

@media screen and (max-width: 767px) {
  .footer .social {
    float: none;
    display: block;
    padding: 0px 0px;
  }
}

@media screen and (max-width: 480px) {
  .work-wrapper {
    padding-top: 20px;
  }
}
