.home {
  margin: 0px;
  padding: 0px;
}
.block {
  padding: 40px 5% 80px;
}

.block-1,
.block-3 {
  background: #f5f5f5;
}

.block h1 {
  text-align: left;
  margin: 20px 0px 40px;
}
.block h1 span {
  border: 2px solid #a02000;
  padding: 10px;
  font-size: 1em;
}

.block .left-side,
.block .right-side {
  display: inline-block;
  max-height: 600px;
  margin-top: 20px;
}

.block .right-side {
  text-align: center;
  vertical-align: middle;
}

.block .left-side {
  text-align: left;
  margin: 40px 0px;
  padding: 20px 20px;
  vertical-align: middle;
}

.prog-highlight {
  background: #e2e2e2;
  font-weight: 400;
  padding: 0px 5px;
  border-radius: 5px;
  color: #222;
}

.self-image {
  width: 80%;
  height: auto;
  vertical-align: middle;
}

.block .left-side .content .name {
  font-size: 4em;
  font-weight: 600;
  color: #202020;
  letter-spacing: 0.1em;
  text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
  margin-top: 50px;
}

.block .left-side .content .desig {
  letter-spacing: 0.5em;
  font-size: 1.5em;
  margin-top: 10px;
}

.block .left-side .content .hobby {
  letter-spacing: 3px;
  font-size: 1.3em;
  margin-top: 50px;
  color: #a02000;
  font-weight: 600;
}
.block .left-side .content .info {
  font-size: 18px;
  color: #222;
}
.block .skills-wrapper {
  margin-top: 50px;
  padding-left: 0px;
  padding-right: 0px;
}
.skills-wrapper .graphs-6 {
  padding-left: 0px;
  display: inline-block;
}
.skills-wrapper .graphs-6:first-child {
  border-right: 1px solid #a02000;
}
.skills-wrapper .graphs-6:nth-child(2) {
  padding-left: 15px;
}
.graph-wrapper {
  padding-left: 0px !important;
}
.graph-wrapper .label {
  display: inline-block;
  padding-left: 0px;
  vertical-align: middle;
  font-size: 24px;
}
.graph-wrapper .bar-wrapper {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  border-radius: 2px;
  background: #eee;
  padding-left: 0px;
  padding-right: 0px;
}
.bar {
  display: inline-block;
  height: 30px;
  border-radius: 2px;
  vertical-align: top;
}

.bar:after {
  font-size: 14px;
  content: "";
  display: block;
  width: 100%;
  text-align: right;
  color: white;
  font-weight: 600;
  padding-top: 8px;
  padding-right: 15px;
}

.pro:after {
  content: "PRO";
}
.good:after {
  content: "GOOD";
}
.amateur:after {
  content: "AMATEUR";
}
.beginner:after {
  content: "BEGINNER";
}

@media screen and (max-width: 1200px) {
  .block .left-side .content .name {
    font-size: 2.5em;
  }
  .block .left-side .content .desig {
    font-size: 1em;
  }
  .block .left-side .content .hobby {
    margin-top: 20px;
    font-size: 1em;
  }
  .block .left-side .content .info {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .block .left-side {
    margin: 0px;
    padding: 0px;
  }
  .block h1 {
    margin-top: 0px;
  }
  .block h1 span {
    font-size: 0.75em;
  }
  .self-image {
    width: 300px;
  }
  .block {
    padding: 20px 5% 20px;
  }
}

@media screen and (max-width: 480px) {
  .block h1 {
    margin: 0px;
  }
  .block h1 span {
    font-size: 0.5em;
  }
  .block .left-side .content .name {
    margin-top: 25px;
    font-size: 1.7em;
  }
  .block .left-side .content .desig {
    font-size: 0.7em;
    letter-spacing: 1px;
  }
  .block .left-side .content .hobby {
    margin-top: 15px;
    font-size: 0.75em;
  }
  .block .left-side .content .info {
    font-size: 12px;
  }
  .self-image {
    width: 200px;
  }
}
